@import 'projects/cutting-app/src/@fuse/scss/fuse';

#cutting-maps {   
    padding-top: 8px;
    padding-bottom: 8px;
    
    .cut-map-card {
        max-width: 400px;
        // height: 100%;

        &:hover {
            @include mat-elevation(7);
        }

        svg {
            width: 100%;
            height: auto;
        }

        .cutting-map {
            cursor: pointer;
        }
    }
}