<div id="cutting-maps">
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="12px">

    <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="12px">
      <ng-container *ngFor="let item of maps; index as i">
        <mat-card class="cut-map-card" fxLayout="column">
          <mat-card-content fxFlex="1 1 auto">
            <div [innerHtml]="item | safeHtml" (click)="openMapViewerDialog(item)" class="cutting-map">
            </div>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>
