<div id="profile" class="page-layout simple tabbed" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between end">

    <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start center">
      <img [matMenuTriggerFor]="avatarMenu" class="profile-image avatar huge" [src]="getAvatarName()" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
      <mat-menu #avatarMenu="matMenu">
        <button mat-menu-item (click)="avatarUploader.click()">{{ 'PROFILE.ADDAVATAR' | translate }}</button>
        <button mat-menu-item (click)="deleteAvatar()">{{ 'PROFILE.DELETEAVATAR' | translate }}</button>
      </mat-menu>
      <input accept="image/jpeg,image/jpg,image/png,image/bmp,image/gif" hidden type="file" #avatarUploader (change)="uploadAvatar($event.target.files[0])">

      <div class="name" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
        {{ (profileService.client.personSurname + ' ' + profileService.client.personName[0] + '.' + (profileService.client.personPatronymic[0]
        || '') + (profileService.client.personPatronymic[0] ? '.' : '')) + ' ' + ( profileService.client.nameFirm ? ('('
        + profileService.client.nameFirm + ')') : '' ) }}
      </div>
    </div>

    <!-- <div class="actions" fxLayout="row" fxLayoutAlign="end center" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'200ms'}}">
      <button mat-raised-button color="accent" aria-label="Follow">Follow</button>
      <button mat-raised-button color="primary" aria-label="Send Message">Send Message</button>
    </div> -->

  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content p-24">
    <div fxLayout="row wrap" fxLayoutAlign="space-around start">

      <div fxFlex="40" fxFlex.sm="80" fxFlex.xs="100">
        <app-common></app-common>
      </div>

      <div fxFlex="40" fxFlex.sm="80" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="start stretch">
        <app-requisit-list fxFlex="40" fxFlex.sm="80" fxFlex.xs="100"></app-requisit-list>        
        <app-change-password fxFlex="40" fxFlex.sm="80" fxFlex.xs="100"></app-change-password>
        <app-change-email fxFlex="40" fxFlex.sm="80" fxFlex.xs="100"></app-change-email>
      </div>

    </div>

  </div>
  <!-- / CONTENT -->

</div>