<div id="estimate-wrapper" fxFlexFill fxLayout="column" fxLayoutAlign="start stretch">

  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px" class="mt-16 mb-12 prices">

    <ng-container
      *ngIf="((materialDiscountPercentage + operationsDiscountPercentage) > 0) && confirmedOrder; else withoutDiscount">
      <div fxFlex="20" fxLayout="row" fxLayoutAlign="start center">

        <div fxFlex="70" class="label text-right">
          <span *ngIf="selectedMaterialId !== 0">
            {{ 'CUT_RESULT_ESTIMATE.CUT_MATERIAL_COST_WITHOUT_DISCOUNT' | translate }}
          </span>
          <span *ngIf="selectedMaterialId === 0">
            {{ 'CUT_RESULT_ESTIMATE.ORDER_COST_WITHOUT_DISCOUNT' | translate }}
          </span>
        </div>

        <div fxFlex class="value">{{ estimate?.PriceOrder | formatNumber:2 |
          formatCurrency }}</div>
      </div>

      <div fxFlex="13" fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex class="label text-right">{{'CUT_RESULT_ESTIMATE.DISCOUNT' |
                  translate}}</div>
        <div fxFlex class="value">{{ (estimate?.PriceOrder - priceOrderWithDiscount) | formatNumber:2 |
                  formatCurrency }}</div>
      </div>

      <div fxFlex="13" fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex class="label text-right">{{'CUT_RESULT_ESTIMATE.TOTAL' |
                  translate}}</div>
        <div fxFlex class="value">{{ priceOrderWithDiscount | formatNumber:2 |
                  formatCurrency }}</div>
      </div>
    </ng-container>

    <ng-template #withoutDiscount>
      <div fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="70" class="label text-right">
          <span *ngIf="selectedMaterialId !== 0 && confirmedOrder">
            {{ 'CUT_RESULT_ESTIMATE.CUT_MATERIAL_COST' | translate }}
          </span>
          <span *ngIf="selectedMaterialId === 0 && confirmedOrder">
            {{ 'CUT_RESULT_ESTIMATE.ORDER_COST' | translate }}
          </span>
          <span *ngIf="selectedMaterialId !== 0 && !confirmedOrder">
            {{ 'CUT_RESULT_ESTIMATE.APPROXIMATE_CUT_MATERIAL_COST' | translate }}
          </span>
          <span *ngIf="selectedMaterialId === 0 && !confirmedOrder">
            {{ 'CUT_RESULT_ESTIMATE.APPROXIMATE_ORDER_COST' | translate }}
          </span>
        </div>
        <div fxFlex class="value">{{ estimate?.PriceOrder | formatNumber:2 |
                  formatCurrency }}&nbsp;
          <mat-icon class="mat-warn" *ngIf="!confirmedOrder"
            [matTooltip]="'CUT_RESULT_ESTIMATE.CUTTING_AMOUNT_WARNING' | translate">warning</mat-icon>
        </div>
      </div>
    </ng-template>
  </div>

  <div fxFlex fusePerfectScrollbar fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="24px grid">

    <div fxFlex="1 1 auto">
      <div class="mat-elevation-z2 m-4">
        <mat-toolbar *ngIf="!singleEstimateList">
          <span>{{ 'CUT_RESULT_ESTIMATE.MATERIALS_TITLE' | translate }}</span>
        </mat-toolbar>
        <mat-divider></mat-divider>
        <table class="simple" fusePerfectScrollbar>
          <thead>
            <tr>
              <th>{{ 'CUT_RESULT_ESTIMATE.NAME' | translate }}</th>
              <th>{{ 'CUT_RESULT_ESTIMATE.COUNT' | translate }}</th>
              <th>{{ 'CUT_RESULT_ESTIMATE.MEASURE' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of estimate?.Materials">
              <td>
                <p class="m-0">{{ item.Name }}</p>
              </td>
              <td>
                {{ item.Count | formatNumber:2 }}
              </td>
              <td>
                <p class="m-0">{{ item.Measure }}</p>
              </td>
            </tr>

            <ng-container *ngIf="singleEstimateList">
              <tr *ngFor="let item of estimate?.Operations">
                <td>
                  <p class="m-0">{{ item.Name }}</p>
                </td>
                <td>
                  {{ item.Count | formatNumber:2 }}
                </td>
                <td>
                  <p class="m-0">{{ item.Measure }}</p>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>

    <div fxFlex="1 1 auto" *ngIf="!singleEstimateList">
      <div class="mat-elevation-z2 m-4">
        <mat-toolbar *ngIf="!singleEstimateList">
          <span>{{ 'CUT_RESULT_ESTIMATE.WORKS_TITLE' | translate }}</span>
        </mat-toolbar>
        <mat-divider></mat-divider>
        <table class="simple" fusePerfectScrollbar>
          <thead>
            <tr>
              <th>{{ 'CUT_RESULT_ESTIMATE.NAME' | translate }}</th>
              <th>{{ 'CUT_RESULT_ESTIMATE.COUNT' | translate }}</th>
              <th>{{ 'CUT_RESULT_ESTIMATE.MEASURE' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of estimate?.Operations">
              <td>
                <p class="m-0">{{ item.Name }}</p>
              </td>
              <td>
                {{ item.Count | formatNumber:2 }}
              </td>
              <td>
                <p class="m-0">{{ item.Measure }}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
