  td.cal{
    font-family : Arial;
    font-size : 11px;
    color : #000000;
    background-color : #ffffff;
  }
  select.month{
    font-family : Arial;
    font-size : 11px;
    color : #000000;
    width : 85px;
  }
  input.year{
    font-family : Arial;
    font-size : 11px;
    color : #000000;
    width : 30px;
  }
  td.calDaysColor {
    font-family : Arial;
    font-size : 11px;
    color : #ffffff;
    background-color : #808080;
  }
  td.calWeekend {
    font-family : Arial;
    font-size : 11px;
    color : #ffffff;
    background-color : #e0e0e0;
  }
  td.calBgColor {
    font-family : Arial;
    font-size : 11px;
    color : #ffffff;
    background-color : red;
  }
  .calBorderColor {
    font-family : Arial;
    font-size : 11px;
    color : #ffffff;
    background-color : black;
  }
  td.calHighlightColor {
    font-family : Arial;
    font-size : 11px;
    color : white;
    background-color : yellow;
  }

  .disabled {
    font-family : Arial;
    font-size : 11px;
    color : #808080;
    text-decoration : none;
  }