
#rquisit-detail-dialog {

    input[type="number"] {
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0; 
        }
        -moz-appearance: textfield;
    }

    .mat-dialog-content {
        height: 400px;
    }
}

