<h1 matDialogTitle>{{ 'REQUISIT_CARD.TITLE' | translate }}</h1>
<div mat-dialog-content id="rquisit-detail-dialog">
  <ng-container>
    <form name="editForm" [formGroup]="editForm" mat-dialog-content fxLayoutAlign="space-around stretch" novalidate>

      <mat-tab-group>
        <mat-tab label="{{ 'REQUISIT_CARD.FORM.MAIN_INFO_TAB' | translate }}">
          <div fxLayout="column" fxLayoutAlign="space-around stretch" class="mt-12">
            
            <div fxLayout="row"  fxLayoutAlign="start start" fxLayoutGap="8px">
              <mat-form-field fxFlex>
                <input matInput type="text" placeholder="{{ 'REQUISIT_CARD.FORM.NAME' | translate }}" formControlName="name" required>
                <mat-error *ngIf="editFormErrors.name.required">
                  {{ 'REQUISIT_CARD.FORM.ERROR.NAMEEMPTY' | translate }}
                </mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px">
              <mat-form-field>
                <input appDisableInputSpinEvents matInput type="number" placeholder="{{ 'REQUISIT_CARD.FORM.INN' | translate }}"  formControlName="inn" required>
                <mat-error *ngIf="editFormErrors.inn.required">
                  {{ 'REQUISIT_CARD.FORM.ERROR.INNEEMPTY' | translate }}
                </mat-error>
                <mat-error *ngIf="!editFormErrors.inn.required && (editFormErrors.inn.minlength || editFormErrors.inn.maxlength)">
                    {{ 'REQUISIT_CARD.FORM.ERROR.INNINCORRECT' | translate }}
                </mat-error>
              </mat-form-field>

              <button mat-button class="mat-accent" fxFlexAlign="center" (click)="findFirmByInn()">{{ 'REQUISIT_CARD.FORM.LOAD_BY_INN' | translate }}</button>

              <mat-form-field fxFlex>
                <input appDisableInputSpinEvents matInput type="number" placeholder="{{ 'REQUISIT_CARD.FORM.KPP' | translate }}" formControlName="kpp">
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px">
              <mat-form-field fxFlex>
                <input matInput type="text" placeholder="{{ 'REQUISIT_CARD.FORM.OFFICIAL_ADDRESS' | translate }}" formControlName="officialAddress"
                  required>
                <mat-error *ngIf="editFormErrors.officialAddress.required">
                  {{ 'REQUISIT_CARD.FORM.ERROR.OFFICIAL_ADDRESSEMPTY' | translate }}
                </mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px">
              <mat-form-field fxFlex>
                <input matInput type="text" placeholder="{{ 'REQUISIT_CARD.FORM.CEO' | translate }}" formControlName="ceoname" readonly>
              </mat-form-field>
              <button mat-icon-button fxFlex="36px" fxFlexAlign="center" (click)="editCeoClick()">
                <mat-icon class="mat-24" aria-label="">edit</mat-icon>
              </button>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px">
              <mat-form-field fxFlex>
                <input matInput type="text" placeholder="{{ 'REQUISIT_CARD.FORM.ACCOUNTANT' | translate }}" formControlName="accountantname" readonly>
              </mat-form-field>

              <button mat-icon-button fxFlex="36px" fxFlexAlign="center" (click)="editAccountantClick()">
                <mat-icon class="mat-24" aria-label="">edit</mat-icon>
              </button>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="{{ 'REQUISIT_CARD.FORM.BANK_INFO_TAB' | translate }}">
          <div fxLayout="column" fxLayoutAlign="space-around stretch" class="mt-12">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px">
              <mat-form-field>
                <input matInput type="text" placeholder="{{ 'REQUISIT_CARD.FORM.BANK.BIK' | translate }}" formControlName="bik" required>
                <mat-error *ngIf="editFormErrors.bik.required">
                  {{ 'REQUISIT_CARD.FORM.ERROR.BANK.BIKEEMPTY' | translate }}
                </mat-error>
                <mat-error *ngIf="!editFormErrors.bik.required && (editFormErrors.bik.minlength || editFormErrors.bik.maxlength)">
                  {{ 'REQUISIT_CARD.FORM.ERROR.BANK.BIKINCORRECT' | translate }}
                </mat-error>
              </mat-form-field>

              <button mat-button class="mat-accent" fxFlexAlign="center" (click)="findBankByBik()">{{ 'REQUISIT_CARD.FORM.LOAD_BY_BIK' | translate }}</button>
            </div>

            <mat-form-field>
              <input matInput type="text" placeholder="{{ 'REQUISIT_CARD.FORM.BANK.NAME' | translate }}" formControlName="bankname" required>
              <mat-error *ngIf="editFormErrors.bankname.required">
                {{ 'REQUISIT_CARD.FORM.ERROR.BANK.NAMEEEMPTY' | translate }}
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input appDisableInputSpinEvents matInput type="text" placeholder="{{ 'REQUISIT_CARD.FORM.BANK.ACCOUNT' | translate }}" 
                maxlength="20" formControlName="bankaccount"  required (keypress)="numberKeyPress($event)">
              <mat-error *ngIf="editFormErrors.bankaccount.required">
                {{ 'REQUISIT_CARD.FORM.ERROR.BANK.ACCOUNTEMPTY' | translate }}
              </mat-error>
              <mat-error *ngIf="!editFormErrors.bankaccount.required && (editFormErrors.bankaccount.minlength || editFormErrors.bankaccount.maxlength)">
                {{ 'REQUISIT_CARD.FORM.ERROR.BANK.ACCOUNTINCORRECT' | translate }}
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input appDisableInputSpinEvents matInput type="text" placeholder="{{ 'REQUISIT_CARD.FORM.ACCOUNT' | translate }}" 
                maxlength="20" formControlName="account" required (keypress)="numberKeyPress($event)">
              <mat-error *ngIf="editFormErrors.account.required">
                {{ 'REQUISIT_CARD.FORM.ERROR.ACCOUNTEEMPTY' | translate }}
              </mat-error>
              <mat-error *ngIf="!editFormErrors.account.required && (editFormErrors.account.minlength || editFormErrors.account.maxlength)">
                {{ 'REQUISIT_CARD.FORM.ERROR.ACCOUNTINCORRECT' | translate }}
              </mat-error>
            </mat-form-field>

          </div>
        </mat-tab>

        <mat-tab label="{{ 'REQUISIT_CARD.FORM.CONTACT_INFO_TAB' | translate }}">
          <div fxLayout="column" fxLayoutAlign="space-around stretch" class="mt-12">
            <mat-form-field>
              <input matInput type="text" placeholder="{{ 'REQUISIT_CARD.FORM.POST_ADDRESS' | translate }}" formControlName="postAddress">
            </mat-form-field>

            <mat-form-field>
              <input matInput type="tel" placeholder="{{ 'REQUISIT_CARD.FORM.PHONE' | translate }}" formControlName="phone">
            </mat-form-field>
          </div>
        </mat-tab>
      </mat-tab-group>

    </form>
  </ng-container>
</div>

<div mat-dialog-actions class="pt-24">
  <button mat-raised-button class="mat-accent mr-16" (click)="closeDialogAndSaveData()" [disabled]="!editForm.valid">
    {{ 'REQUISIT_CARD.OK' | translate }}</button>
  <button mat-button (click)="dialogRef.close(undefined)">{{ 'REQUISIT_CARD.CANCEL' | translate }}</button>
</div>