<div class="dialog-content-wrapper">
  <h1 matDialogTitle>{{ 'ADDMANAGERDIALOG.TITLE' | translate }}</h1>

  <div mat-dialog-content fxLayout="column" fxLayoutAlign="center stretch">
    <ng-container>

      <form name="managerForm" [formGroup]="managerForm" novalidate (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="start"
        fxFlex="1 0 auto">

        <mat-form-field>
          <input matInput placeholder="{{ 'ADDMANAGERDIALOG.FORM.SURNAME' | translate }}" formControlName="surname" required>
          <mat-error *ngIf="managerFormErrors.surname.required">
            {{ 'ADDMANAGERDIALOG.FORM.ERROR.SURNAMEEMPTY' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="{{ 'ADDMANAGERDIALOG.FORM.NAME' | translate }}" formControlName="name" required>
          <mat-error *ngIf="managerFormErrors.name.required">
            {{ 'ADDMANAGERDIALOG.FORM.ERROR.NAMEEMPTY' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="{{ 'ADDMANAGERDIALOG.FORM.PATRONYMIC' | translate }}" formControlName="patronymic" required>
          <mat-error *ngIf="managerFormErrors.patronymic.required">
            {{ 'ADDMANAGERDIALOG.FORM.ERROR.PATRONAMICEMPTY' | translate }}
          </mat-error>          
        </mat-form-field>

        <mat-form-field>
          <input type="text" matInput placeholder="{{ 'ADDMANAGERDIALOG.FORM.POST' | translate }}" formControlName="post">
          <mat-error *ngIf="managerFormErrors.patronymic.required">
            {{ 'ADDMANAGERDIALOG.FORM.ERROR.POSTCEMPTY' | translate }}
          </mat-error>              
        </mat-form-field>
      </form>

    </ng-container>
  </div>

  <div mat-dialog-actions class="pt-24">
    <button mat-raised-button type="button" [disabled]="managerForm.invalid" class="mat-accent mr-16" (click)="onSubmit()">{{ ('ADDMANAGERDIALOG.' + (manager ? 'OK' : 'CREATE')) | translate }}</button>
    <button mat-button (click)="dialogRef.close(false)">{{ 'ADDMANAGERDIALOG.CANCEL' | translate }}</button>
  </div>
</div>
