.add-manager-dialog {
    
    .mat-dialog-container {
        padding: 0px;
    }

    .mat-dialog-content {
        margin: 0 0;
        padding-top: 24px;
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        padding-bottom: 24px;
    }

    .mat-dialog-actions {
        padding-left: 24px;
        padding-right: 24px;
    }

    .password-hide-toggler {
        cursor: pointer;
    }
}