<div class="profile-box info-box general" fxLayout="column">

  <header class="mat-accent-bg">
    <div class="title">{{ 'CHANGEPASS.TITLE' | translate }}</div>
  </header>

  <div class="content">

    <form (ngSubmit)="onSubmitChangePasswordForm()" [formGroup]="changePasswordForm" novalidate fxLayout="column" fxLayoutAlign="space-between stretch">
      <mat-form-field>
        <input type="text" matInput placeholder="{{ 'CHANGEPASS.FORM.OLDPASS' | translate }}" formControlName="oldPassword" autofocus>
      </mat-form-field>

      <mat-form-field>
        <input type="text" matInput placeholder="{{ 'CHANGEPASS.FORM.NEWPASS' | translate }}" formControlName="newPassword">
      </mat-form-field>

      <button mat-raised-button type="submit" color="accent" [disabled]="!changePasswordForm.valid" class="mx-68">{{ 'CHANGEPASS.SAVE' | translate }}</button>
    </form>
  </div>

</div>