.offcuts-table {
    .mat-column-takeAway {
        overflow: visible;
        flex: 0 1 120px;

        .take-away-checkbox-label {
            font-size: 12px;
            font-weight: 500;
        }
    }
}