<div id="offcut-list">

  <mat-table fusePerfectScrollbar class="offcuts-table" #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">

    <!-- TakeAway Column -->
    <ng-container cdkColumnDef="takeAway">
      <mat-header-cell *cdkHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          <span class="take-away-checkbox-label">{{ 'OFFCUT_LIST.TAKE_AWAY' | translate }}</span>
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *cdkCellDef="let item">
        <!-- <mat-checkbox [(ngModel)]="item.takeAway" (change)="toggleTakeAwayOffcut(item)"></mat-checkbox> -->
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? toggleTakeAwayOffcut(item) : null"
          [checked]="selection.isSelected(item)" [aria-label]="checkboxLabel(item)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Height Column -->
    <ng-container cdkColumnDef="height">
      <mat-header-cell *cdkHeaderCellDef>{{ 'OFFCUT_LIST.HEIGHT' | translate }}</mat-header-cell>
      <mat-cell *cdkCellDef="let item">
        <p class="text-truncate">{{ item.height }}</p>
      </mat-cell>
    </ng-container>

    <!-- Width Column -->
    <ng-container cdkColumnDef="width">
      <mat-header-cell *cdkHeaderCellDef>{{ 'OFFCUT_LIST.WIDTH' | translate }}</mat-header-cell>
      <mat-cell *cdkCellDef="let item">
        <p class="text-truncate">{{ item.width }}</p>
      </mat-cell>
    </ng-container>

    <!-- Count Column -->
    <ng-container cdkColumnDef="count">
      <mat-header-cell *cdkHeaderCellDef>{{ 'OFFCUT_LIST.COUNT' | translate }}</mat-header-cell>
      <mat-cell *cdkCellDef="let item">
        <p class="text-truncate">{{ item.count }}</p>
      </mat-cell>
    </ng-container>

    <!-- Area Column -->
    <ng-container cdkColumnDef="area">
      <mat-header-cell *cdkHeaderCellDef>{{ 'OFFCUT_LIST.SQUARE' | translate }}</mat-header-cell>
      <mat-cell *cdkCellDef="let item">
        <p class="text-truncate">{{ (item.width * item.height * 1e-6 * item.count) | formatNumber:2 }}</p>
      </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let item; columns: displayedColumns; let rowIndex = index;" class="offcut"></mat-row>

  </mat-table>

</div>

<!-- <div> -->
<!-- <mat-form-field>
    <mat-select placeholder="Favorite food" [(ngModel)]="selectedValue" name="food">
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
<!-- </div>

<div> -->
<!-- <mat-table class="documents-table" #table [dataSource]="dataSource" matSort matSortActive="date" matSortDirection="desc"
    matSortDisableClear [@animateStagger]="{value:'50'}" fusePerfectScrollbar> -->

<!-- Name Column -->
<!-- <ng-container cdkColumnDef="name">
      <mat-header-cell *cdkHeaderCellDef>Название</mat-header-cell>
      <mat-cell *cdkCellDef="let item">
        <p class="text-truncate">{{ item.name }}</p>
      </mat-cell>
    </ng-container> -->

<!-- Type Column -->
<!-- <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef>Тип</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <p class="text-truncate">{{ item.fileType }}</p>
      </mat-cell>
    </ng-container> -->

<!-- Size Column -->
<!-- <ng-container cdkColumnDef="size">
      <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Размер</mat-header-cell>
      <mat-cell *cdkCellDef="let item" fxHide fxShow.gt-md>
        <p class="text-truncate">
          {{ item.size | bytesToSize }}
        </p>
      </mat-cell>
    </ng-container> -->

<!-- Date Column -->
<!-- <ng-container cdkColumnDef="date">
      <mat-header-cell *cdkHeaderCellDef>Дата</mat-header-cell>
      <mat-cell *cdkCellDef="let item">
        <p class="text-truncate">
          {{ item.date | date: 'dd.MM.yyyy' }}
        </p>
      </mat-cell>
    </ng-container> -->

<!-- Download Column -->
<!-- <ng-container matColumnDef="download">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let item">

        <button mat-icon-button (click)="downloadOrderDocument(item)" *ngIf="getDownloadingDoc(item.id) === undefined">
          <mat-icon class="mat-24" aria-label="">file_download</mat-icon>
        </button>

        <mat-progress-bar *ngIf="getDownloadingDoc(item.id) !== undefined" class="" color="primary" [mode]="getDownloadingDoc(item.id).mode"
          [value]="getDownloadingDoc(item.id).value">
        </mat-progress-bar>

      </mat-cell>
    </ng-container> -->

<!-- <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *cdkRowDef="let item; columns: displayedColumns;" class="file"></mat-row>
  </mat-table> -->
<!-- </div> -->
