@import "../profile.component";

.requisits-table {
    flex: 1 1 auto;
    border-bottom: 1px solid rgba(0, 0, 0, .12);

    .mat-header-row {
        min-height: 64px;
    }

    .mat-column-delete, 
    .mat-column-edit {
        flex: 0 1 40px;
    }
    
    .mat-column-iscurrent {
        flex: 0 1 70px;
    }    
}

.header-button {
    max-height: 23px !important;
    padding-top: 0px !important;
    margin-top: -14px !important;
    margin-bottom: 0px !important;
}
