<div class="profile-box info-box general" fxLayout="column">

  <header class="mat-accent-bg">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="title">{{ 'REQUISIT_LIST.TITLE' | translate }}</div>

      <button type="button" matTooltip="{{ 'REQUISIT_LIST.NEW_REQUISIT' | translate }}" class="header-button" mat-icon-button (click)="addRequisit()">
        <mat-icon class="mat-24" aria-label="New requisit">add_circle_outline</mat-icon>
      </button>
    </div>
  </header>

  <div class="content mat-white-bg">
    <mat-table #table [dataSource]="dataSource" class="requisits-table">
      <!-- IsCurrent Column -->
      <ng-container cdkColumnDef="iscurrent">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>{{ 'REQUISIT_LIST.TABLE.IS_CURRENT' | translate }}</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-sm>
          <mat-radio-button (click)="$event.stopPropagation()" (change)="$event ? changeSelection(row) : null" [checked]="isSelectedRow(row)">
          </mat-radio-button>
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container cdkColumnDef="name">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>{{ 'REQUISIT_LIST.TABLE.NAME' | translate }}</mat-header-cell>
        <mat-cell *cdkCellDef="let item" fxHide fxShow.gt-sm>
          <p class="text-truncate">{{ item.name }}</p>
        </mat-cell>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let item">
          <button mat-icon-button (click)="editRequisit(item)">
            <mat-icon class="mat-24" aria-label="">edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let item">
          <button mat-icon-button (click)="deleteRequisit(item)">
            <mat-icon class="mat-24" aria-label="">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *cdkRowDef="let item; columns: displayedColumns;">
      </mat-row>

    </mat-table>
  </div>

</div>