<div class="profile-box info-box general" fxLayout="column">

  <header class="mat-accent-bg">
    <div class="title">{{ 'CHANGEEMAIL.TITLE' | translate }}</div>
  </header>

  <div class="content">

    <form (ngSubmit)="onSubmitChangeEmailForm()" [formGroup]="changeEmailForm" novalidate fxLayout="column" fxLayoutAlign="space-between stretch">
      <mat-form-field>
        <input type="text" matInput placeholder="{{ 'CHANGEEMAIL.FORM.NEWEMAIL' | translate }}" formControlName="newEmail" autofocus>
      </mat-form-field>

      <button mat-raised-button type="submit" color="accent" [disabled]="!changeEmailForm.valid" class="mx-68">{{ 'CHANGEEMAIL.CHANGE' | translate }}</button>
    </form>
  </div>

</div>