<h1 matDialogTitle>{{ 'GENGUIDDIALOG.TITLE' | translate }}</h1>
<div mat-dialog-content>
  <ng-container>
    <div fxLayout="column" fxLayoutAlign="space-between stretch">
      <p class="mat-body-1">{{ 'GENGUIDDIALOG.WARNING' | translate }}</p>

      <mat-form-field fxFlex>
        <input matInput [formControl]="password" [type]="hide ? 'password' : 'text'" required autofocus placeholder="{{ 'GENGUIDDIALOG.PASSWORD.TITLE' | translate}}">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="password.invalid">{{ getErrorMessage() | translate }}</mat-error>
      </mat-form-field>
    </div>
  </ng-container>
</div>

<div mat-dialog-actions class="pt-24">
  <button mat-raised-button class="mat-accent mr-16" (click)="generateGuid()" [disabled]="!password.valid">{{ 'GENGUIDDIALOG.GENERATE' | translate }}</button>
  <button mat-button (click)="dialogRef.close()">{{ 'GENGUIDDIALOG.CANCEL' | translate }}</button>
</div>