<div id="{id}Sheets"
     style="{style} z-index:10; position:absolute; top:0px; left:0px; height:24px; width:{ClientWidth}px;"></div>
<div id="{id}"
     style="border:2px outset; z-index:0; position:absolute; top:25px; left:0px; height:{ClientHeight}px; width:{ClientWidth}px;">{content}</div>