<nobr>
  <input xid="{id}" type="text" name="{id}" tabindex="{TabOrder}" style="{style} width:<tpl:php({Width}-34)/>px;" value="{Text}" {disabled}>
  <a style="position:absolute; top:0px; left:<tpl:php({Width}-37)/>px;" href="javascript:void(0);" onclick="kalender.show(event,'{id}', false, 'dd.mm.yyyy');">
    <img src="images/kalender.gif" name="imgCalendar" border="0" alt="" align="absmiddle" hspace="3">
  </a>
</nobr>