<div id="{id}"
     style="border-right:1px solid #a0a0a0; border-bottom:1px solid #a0a0a0; border-top:1px solid white; border-left:1px solid white; {style} text-align:center;">{Caption}<div style="text-align:left;">{content}</div></div>