<div id="{tabname}Sheet" style="display:none; xoverflow:hidden; background-color:{backgroundcolor}; padding:2px; padding-left:5px; padding-right:5px; position:relative; float:left;">
  <a id="{tabid}Link" style="color:black; text-decoration:none;" href="javascript:{pcname}Click({i});">{tabcaption}</a>
</div>