<div class="profile-box info-box general" fxLayout="column">

  <header class="mat-accent-bg">
    <div class="title">{{ 'COMMON.TITLE' | translate }}</div>
  </header>

  <div class="content">

    <form (ngSubmit)="onSubmitProfileForm()" [formGroup]="profileForm" novalidate fxLayout="column" fxLayoutAlign="space-between stretch">
      <mat-form-field>
        <input matInput placeholder="Email" disabled [value]="profileService.client.email">
      </mat-form-field>

      <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="12px" *ngIf="showApiKeyPerm">
        <mat-form-field fxFlex>
          <input matInput #guidInp placeholder="{{ 'COMMON.FORM.GUID' | translate }}" readonly [value]="profileService.client.guid">
        </mat-form-field>

        <button type="button" matTooltip="{{ 'COMMON.FORM.COPYGUIDTOCLIPBOARD' | translate }}" mat-icon-button (click)="copyToClipBoard(profileService.client.guid)">
          <mat-icon class="mat-24" aria-label="Copy to clipboard">content_copy</mat-icon>
        </button>
        <button type="button" matTooltip="{{ 'COMMON.FORM.GENERATEGUID' | translate }}" mat-icon-button (click)="openGenerateGUIDDialog()">
          <mat-icon class="mat-24" aria-label="Generate GUID">flash_on</mat-icon>
        </button>
      </div>

      <mat-form-field>
        <input type="text" matInput placeholder="{{ 'COMMON.FORM.SURNAME' | translate }}" formControlName="personSurname"
          autofocus>
      </mat-form-field>

      <mat-form-field>
        <input type="text" matInput placeholder="{{ 'COMMON.FORM.NAME' | translate }}" formControlName="personName">
      </mat-form-field>

      <mat-form-field>
        <input type="text" matInput placeholder="{{ 'COMMON.FORM.PATRONYMIC' | translate }}" formControlName="personPatronymic">
      </mat-form-field>

      <mat-form-field>
        <input type="tel" matInput placeholder="{{ 'COMMON.FORM.COMPANY' | translate }}" formControlName="nameFirm">
      </mat-form-field>

      <mat-form-field>
        <input id="country" #country matInput formControlName="country" required placeholder="{{ 'COMMON.FORM.COUNTRY' | translate }}"
          type="text" (keydown)="selectedCountry = undefined" (change)="profileForm.controls.country.setValue(selectedCountry ? country.value : '')" />
        <mat-error *ngIf="profileFormErrors.country?.required">
          {{ 'COMMON.FORM.ERROR.COUNTRYEMPTY' | translate }}
        </mat-error>
      </mat-form-field>

      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field fxFlex>
          <input type="tel" mask="0*" matInput placeholder="{{ 'COMMON.FORM.PHONE' | translate }}"
            formControlName="personPhone">
          <span matPrefix>+</span>
        </mat-form-field>
      </div>
      <!-- <mat-form-field>
        <input type="tel" matInput placeholder="{{ 'COMMON.FORM.PHONE' | translate }}" formControlName="personPhone">
      </mat-form-field> -->

      <mat-form-field>
        <input id="currency" #currency matInput formControlName="currency" required placeholder="{{ 'COMMON.FORM.CURRENCY' | translate }}"
          type="text" (keydown)="selectedCurrency = undefined" (change)="profileForm.controls.currency.setValue(selectedCurrency ? currency.value : '')" />
        <mat-error *ngIf="profileFormErrors.currency?.required">
          {{ 'COMMON.FORM.ERROR.CURRENCYEMPTY' | translate }}
        </mat-error>
      </mat-form-field>




      <div fxLayout="column" fxLayoutGap="20px">
        <div>
          <mat-checkbox formControlName="notifyInSupport">{{ 'COMMON.FORM.NOTIFY_IN_SUPPORT' | translate }}</mat-checkbox>
        </div>

        <button mat-raised-button type="submit" color="accent" [disabled]="!profileForm.valid" class="mx-68">{{
          'COMMON.SAVE' | translate }}</button>
      </div>

    </form>
  </div>

</div>