#cutting-result {
    // .mat-expansion-panel-content:not(.mat-expanded):not(.ng-animating){
    //     display: none;
    // }

    .mat-tab-body:not(.mat-tab-body-active){
        display: none;
    }

    .fuse-card {
        max-width: 100% !important;
    }
}