<ng-container *ngIf="data$ | async as data">

  <div id="cutting-result" fxFlexFill fusePerfectScrollbar fxLayout="column" fxLayoutAlign="start stretch"
    *ngIf="data.result">
    <div>
      <mat-form-field fxFlex="100" fxFlex.gt-sm="45" class="w-100-p">
        <mat-select placeholder="Материал ({{ data.result.length }} шт)" #materialSelect
          [value]="(data.result.length > 0) ? data.result[0].inMaterialBaseId : undefined">
          <mat-option *ngFor="let item of data.result" [value]="item.inMaterialBaseId">
            {{ item | materialName : item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-tab-group fxFlex mat-stretch-tabs dynamicHeight *ngIf="showSubTabs && (data.result.length > 0)"
      fusePerfectScrollbar>

      <mat-tab *ngIf="showCuttingMaps">
        <ng-template mat-tab-label>
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
            <div>
              <mat-icon>view_quilt</mat-icon>
            </div>
            <div>{{ 'CUT_RESULT.CUTTING_MAPS' | translate }}</div>
          </div>
        </ng-template>

        <app-cutting-maps fxFlexFill fusePerfectScrollbar class="p-8" [materialId]="materialSelect.value">
        </app-cutting-maps>
      </mat-tab>

      <mat-tab fxLayout="column" fxLayoutAlign="start start">
        <ng-template mat-tab-label>
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
            <div>
              <mat-icon>tab_unselected</mat-icon>
            </div>
            <div>{{ 'CUT_RESULT.OFFCUTS' | translate }}</div>
          </div>
        </ng-template>

        <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="24px" xFlex="100" fxFlexFill
          class="pt-24 px-4 pb-4">
          <div fxFlex fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px" class="fuse-card">
            <p class="mat-body-2 mx-24">
              Обрезки предоставленные клиентом
            </p>

            <mat-divider>
            </mat-divider>

            <app-used-client-offcuts fxFlex fusePerfectScrollbar [materialId]="materialSelect.value">
            </app-used-client-offcuts>
          </div>
          <div fxFlex fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px" class="fuse-card">
            <p class="mat-body-2 mx-24">
              Обрезки полученные при раскрое
            </p>

            <mat-divider>
            </mat-divider>

            <app-offcut-list fxFlex fusePerfectScrollbar [materialId]="materialSelect.value"></app-offcut-list>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
            <div>
              <mat-icon>vertical_split</mat-icon>
            </div>
            <div>{{ 'CUT_RESULT.PANELS_SCHEMA' | translate }}</div>
          </div>
        </ng-template>

        <csl-panels-schema fxFlex *ngIf="linkToPanelsSchema" [linkToSchemas]="linkToPanelsSchema | async"
          [data]="{ materialId: materialSelect.value, panels: getSelectedPanels(materialSelect.value), selectedPanelUuid: undefined }">
        </csl-panels-schema>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div *ngIf="!data.result && !data.error">
    Loading...
  </div>

  <div *ngIf="data.error">
    {{ data.error }}
  </div>
</ng-container>
