<div class="dialog-content-wrapper" fxLayout="column" fxLayoutAlign="start start" fusePerfectScrollbar>
    <mat-toolbar matDialogTitle class="mat-accent m-0" fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{ 'CUTTING_MAP_VIEWER_DIALOG.TITLE' | translate }}</span>
        <button mat-button class="mat-icon-button" (click)="dialogRef.close(undefined)" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>

    <div mat-dialog-content fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center">
        <ng-container>
            <div class="svg-wrapper" [innerHtml]="mapSvg | safeHtml"></div>
        </ng-container>
    </div>

    <!-- <div mat-dialog-actions> -->
    <!-- <button mat-button (click)="dialogRef.close(undefined)">ЗАКРЫТЬ</button> -->
    <!-- </div> -->
</div>