.map-viewer-dialog {

    max-width: 95vh !important;
    max-height: 95vh;
    width: 95vh !important;
    height: 95vh;

    app-map-viewer-dialog {
        display: flex;
        height: 100%;
    }

    svg {
        width: 100%;
        height: 100%;
    }

    .dialog-content-wrapper {
        width: 95vh !important;

        .mat-dialog-content {
            margin: 0 0;
            padding-top: 24px;
            padding-bottom: 24px;
            height: 100%;
            max-height: 100%;
            width: 95vh !important;
    
            .svg-wrapper {
                height: 100%;
                max-height: 100%;
                width: 100%;
            }
        }
    }

    .mat-dialog-container {
        padding: 0px;
    }    
}